.App {
  text-align: center;
  background-color: rgb(25, 25, 25);
  min-height: 100vh;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 50px;
}

#banner {
  height: 80px;
  position: sticky;
  top: 0;
  background-image: linear-gradient(
    rgba(55, 25, 25, 1) 0%,
    rgba(25, 25, 25, 1) 85%,
    rgba(25, 25, 25, 0.8) 90%,
    rgba(255, 255, 255, 0.01) 100%
  );
  /* background-color: rgb(25, 25, 25); */
  z-index: 99;
}

#banner h1 {
  font-size: 54px;
  font-weight: 500;
  font-family: Georgia;
  color: #beafa5;
  text-shadow: 3px 3px #5a3030;

  padding: 5px 0px 10px 0px;
}

#banner h3 {
  font-family: Georgia;
  color: #beafa5;
  padding-right: 15px;
}
#banner h1:hover {
  cursor: pointer;
}

.auth-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 15px;
}

#gallery-options {
  position: fixed;
  bottom: 0;
  z-index: 99;
  padding: 10px;
  background-color: #913838;
  border-radius: 8px 8px 0 0;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#create-pot-icon {
  color: #ffffff;
  size: 2em;
}

.pottery-grid-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pot-card-container {
  margin: 8px;
}

.pot-card {
  min-width: 230px;
  width: 250px;
  height: 300px;
  position: relative;
}

.pot-card:hover {
  cursor: pointer;
}

.pot-card-info {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: fit-content;
  color: #cccccc;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  flex-direction: column;
  padding: 10px;
  padding-right: 32px;
  background-image: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.85),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 0px 12px 4px 0px;
}

.pot-card-info h5 {
  font-weight: 600;
  text-decoration: underline 1px;
  text-underline-offset: 2px;
}

.pot-card-pic {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
}

.pot-card h5,
p {
  margin-bottom: 0px;
}

#pot-card-actions {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pot-action-btn {
  background-color: #502222;
  width: 45%;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border-radius: 0px 0px 8px 8px;
  color: #cccccc;
  border: #bbbbbb solid;
  border-width: 0px 1px 1px 1px;
}

.pot-action-btn:hover {
  background-color: #cccccc;
  color: #502222;
  border-color: #502222;
  cursor: pointer;
}

#loading-spinner {
  margin: 50px 0px 50px 0px;
  --bs-spinner-width: 12rem;
  --bs-spinner-height: 12rem;
  --bs-spinner-border-width: 1.5rem;
  border-color: #350b0b;
  border-right-color: transparent;
}
.form-section {
  padding: 15px;
}

.form-content {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  flex-wrap: nowrap;
}

@media (max-width: 800px) {
  .form-content {
    flex-direction: column;
  }
}

.form-content {
  padding-bottom: 30px;
}

.form-group {
  margin-bottom: 10px;
}

.form-control,
.form-control:focus {
  background-color: #fcfcfc73;
  color: #000000;
}
.form-group input {
  cursor: text;
}
.input-group {
  margin-bottom: 15px;
}

.input-group-text {
  background-color: #fcfcfc73;
  color: #000000;
}

option {
  background-color: rgba(0, 0, 0, 0.288);
}
option:hover {
  background-color: rgba(0, 0, 0, 0.288);
}

.form-select,
.form-select:focus {
  background-color: #fcfcfc73;
  color: #000000;
}

.form-label {
  padding-right: 30px;
}
#form {
  margin-top: 15px;
  background-color: #350b0b;
  padding: 10px;
  border-radius: 12px;
}
.section-header {
  color: #beafa5;
  border-bottom: #beafa5;
  border-bottom-style: solid;
  border-bottom-width: thin;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.form-label {
  width: 100%;
  text-align: left;
  color: #beafa5;
}

.error-text {
  color: #b63c0c;
  padding-top: 5px;
  font-style: italic;
}
.pottery-view {
  width: 100%;
  height: 100%;
}

#pottery-table {
  width: 100%;
}

#button-bar {
  position: fixed;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #1e2824;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}

.btn {
  margin: 0px 10px 0px 10px;
  --bs-btn-bg: #3a0707;
  --bs-btn-border-color: #635b57;
  --bs-btn-hover-color: #beafa5;
  --bs-btn-hover-bg: #5f1609;
  --bs-btn-hover-border-color: #0d060f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #5d3c18;
  --bs-btn-active-bg: #5f1609;
  --bs-btn-active-border-color: #0d060f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #beafa5;
  --bs-btn-disabled-bg: #230000;
  --bs-btn-disabled-border-color: #0d060f;
  --bs-btn-color: #beafa5;
}

.error-page {
  height: 30vh;
  margin: 10vh 0vh 10vh 0vh;
  width: 100%;
  color: #beafa5;
  font-size: 36px;
}
.error-page a {
  color: #5a3030;
}
